body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121; /* Primary text color */
  background-color: #FAFAFA; /* Material Design often uses a slightly off-white background */
}

code {
  font-family: 'Roboto Mono', monospace;
}
